*{
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing : border-box;
}

body{
    padding-left : 5px;
    padding-right: 5px;
    padding-top: 10px;
    display: flex;
    background-color: rgb(90, 219, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    background-color: rgb(90, 219, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas{
    
    background-repeat: none;
    background-size: cover;
    max-width: 100%;
    max-height:100%;
}
img{
    display : none;
}

.controls{
    margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.scorebar{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color : white;
    margin-left: auto;
}

.lifeBar{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color : white;  
    margin-right: auto;
}


.leaderboard{
    text-align: center;
    margin-top: 5px;
    color : white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: larger;

}

